@media (min-height: 500px) {
    .note-form form{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 5% 5% 10% 70% 10%;
        grid-template-columns: 1fr;
    }
}

@media (max-height: 499px) {
    .note-form form{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 4% 7% 15% 1fr 15%;
        grid-template-columns: 1fr;
    }
}

.error-list-note {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding-left: 0;
    font-size: 14px;
    color: red;
    margin-left: 16px;
}

.error-list-note li {
    display:block;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
    overflow-x: visible;
    max-height: 20px;
    white-space: nowrap;
}

.note-form {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 0;
    position: relative;
}

#note-form-header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px;
}

#notebook-form-header .fas {
    font-size: 12px;
}

#notebook-select {
    max-width: 160px;
    height: 25px;
    font-family: 'DM Sans', sans-serif;
    border: none;
}

#note-title {
    border: none;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    height: 30px;
    margin-top: 15px;
    color: rgb(40, 40, 40);
    padding-left: 25px;
    outline: 0px solid transparent;
}

#note-title::placeholder,
#note-form-content::placeholder {
    color: rgb(40, 40, 40);
}

#note-title:focus-visible,
#note-form-content:focus-visible,
#notebook-select:focus-visible,
#note-title:-webkit-autofill {
    outline: none;
    background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
    border: none;
  /* transition: background-color 5000s ease-in-out 0s; */
}

#note-form-content {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    color: rgb(40, 40, 40);
    padding: 0 25px;
    border: none;
    outline: 0px solid transparent;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    background-color:rgb(250, 250, 250);
    border-top: 1px solid rgba(200, 200, 200, 0.5);
    width: 48vw;
    height: 40px;
    position: fixed;
    bottom: 0;
}

#new-note {
    max-width: 150px;
    background-color:rgb(60, 60, 60);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    margin-right: 20px;
}

#new-note:hover {
    background-color:rgb(120, 120, 120);
    color: white;
}

#new-note:active {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.4);
}

#delete-note {
    background-color:transparent;
    color: black;
    border: none;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
}

#delete-note:hover {
    background-color: rgb(222, 222, 222);
}

.action-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 150px;
    min-height: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    padding: 0;
    top: 40px;
    right: 15px;
    background-color: white;
    border-radius: 2px;
    z-index: 10;
    margin: 0;
}

form input {
    box-sizing: border-box;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    padding-left: 10px;
}


