h1 {
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
}

#homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    position: fixed;
    top: 30%;
}

h3 {
    text-align: center;
}

p #log-in-link {
    text-decoration: underline;
    /* color: orange; */
}

#sign-up-btn {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 70px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

#sign-up-btn:hover {
    background-color: rgb(0, 110, 255);
}

#homepage-footer {
    position: fixed;
    bottom: 0px;
    height: 7.5vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    color: white;
    font-weight: bold;
}

#about:hover {
    color: rgb(0, 136, 255);
    cursor:pointer;
}