h1 {
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 80vh; */
}

#homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    position: fixed;
    top: 30vh;
}

h3 {
    text-align: center;
}

p #log-in-link {
    text-decoration: underline;
    /* color: orange; */
}

#sign-up-btn {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 70px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

#sign-up-btn:hover {
    background-color: rgb(0, 110, 255);
}

h2 {
    text-align: center;
    font-size: 40px;
}

#notes-container {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.note {
    margin: 10px;
    background-color: rgba(0, 145, 255, 0.5);
    height: 200px;
    overflow: scroll;
    border-radius: 10px;
    box-shadow:rgba(0, 0, 255, 0.3)
}

.note p {
    background-color: rgba(0, 0, 255, 0.3);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 0;
}