#root {
    display: grid;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: 20% 80%;
}

h2 {
    text-align: center;
    font-size: 40px;
}

#dash-header {
    display: flex;
    width: 77vw;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    position: relative;
    z-index: 0;
    font-size: 20px;
    color: black;
    text-shadow: white 1px 1px 2px ;
}

h4 {
    font-size: 12px;
    margin-right: 10px;
}

#dashboard-container {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(225, 225, 225);
    height: 100vh;
}

#dashboard-container img {
    height: 40vh;
    width: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0.5;
}

#notes-container {
    overflow-y: hidden;
    width: 75vw;
    height: 45vh;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    position:relative;
    background-color: white;
    z-index: 1;
}

#bottom-container {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin-top: 20px;
}

#bottom-container h3 {
    margin: 15px 0 10px 0;
}

#notebooks-container, #scratchpad-container {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    width: 36.5vw;
    height: 40vh;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    position: relative;
    background-color: white;
    z-index: 1;
    overflow-x: hidden;
}

#scratchpad-container {
    background-color: rgb(255, 255, 154);
    padding: 0px 10px 0 20px;
    box-sizing: border-box;
}

#scratchpad-header {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding-right: 10px;
}

#scratchpad-header i {
    font-size: 14px;
    color: rgb(55, 55, 55);
}

#scratchpad-container textarea {
    background-color: rgb(255, 255, 154);
    border: none;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    outline: 0px solid transparent;
    font-family: 'DM Sans', sans-serif;
}

#scratchpad-actions-dropdown {
    position: absolute;
    right: 5px;
    top: 30px;
    display: flex;
    flex-direction: column;
    min-width: 75px;
    background-color: white;
    padding: 10px 0;
    border-radius: 5px;
}

#scratchpad-actions-dropdown button {
    border: none;
    background-color: white;
    display: flex;
    padding: 5px 10px;
}

#scratchpad-actions-dropdown button:hover {
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

#notebooks-container h3 {
    padding-left: 20px;
}

.update-time {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}

.notebook {
    padding-left: 20px;
    box-sizing: border-box;
    display: grid;
    width: 100%;
    grid-template-columns: 70% 1fr;
    border-radius: 5px;
}

.notebook:nth-child(odd) {
    background-color:rgb(230, 230, 230);
}

.notebook p {
    margin: 5px 0;
}

.notebook:hover {
    background-color: gray;
    cursor: pointer;
}

#note-container {
    width: max-content;
    position: absolute;
    top: 35px;
}

#notes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 74.5vw;
    box-sizing: border-box;
    padding: 0 15px;
    margin-top: 7px;
}

#notes-header > p {
    font-weight: bold;
    margin: 0;
    padding: 5px;
}

#notes-header .fas {
    font-size: 20px;
}


.note {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin: 10px;
    padding-bottom: 15px;
    height: 35vh;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    overflow-y: hidden;
    overflow-x: hidden;
}

.note-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 8% 85% 7%;
    padding: 10px;
}

.note-grid h3 {
    text-align: left;
    /* margin-left: 10px;
    margin-bottom: 5px; */
    margin: 0;
    font-size: 16px;
    padding-bottom: 5px;
}

.note:hover {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#note-content {
    /* height: 24vh; */
    width: 225px;
    overflow-y: hidden;
    margin-top: 5px;
}

.note-grid p {
    font-size: 14px;
    margin-top: 0;
    color: rgb(63, 63, 63)
}

#update-time {
    font-size: 10px;
    position: absolute;
    bottom: 5px;
}


#notes-container a {
    color: black;
}

#notes-container i:hover {
    /* color: blue; */
    background-color: rgb(220, 220, 220);
}

#notes-container i {
    padding: 5px;
    border-radius: 5px;
}

#first-note {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#first-note h3 {
    width: 60%;
}