#content {
    display: grid;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: 20% 80%;
}

h2 {
    text-align: center;
    font-size: 40px;
}

#dash-header {
    display: flex;
    width: 77vw;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    position: relative;
    z-index: 0;
    font-size: 20px;
    color: black;
    text-shadow: white 1px 1px 2px ;
}

h4 {
    font-size: 12px;
    margin-right: 10px;
}

#dashboard-container {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard-container > img {
    height: 40vh;
    width: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0.5;
}

#notes-container {
    overflow-y: hidden;
    width: 75vw;
    height: 45vh;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    position:relative;
    background-color: white;
    z-index: 1;
}

#note-container {
    width: max-content;
    position: absolute;
    top: 35px;
}

#notes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 74.5vw;
    box-sizing: border-box;
    padding: 0 15px;
    margin-top: 7px;
}

#notes-header > p {
    font-weight: bold;
    margin: 0;
    padding: 5px;
}

#notes-header .fas {
    font-size: 20px;
}


.note {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin: 10px;
    padding-bottom: 15px;
    height: 35vh;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    overflow-y: hidden;
    overflow-x: hidden;
}

.note-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 8% 85% 7%;
    padding: 10px;
}

.note-grid h3 {
    text-align: left;
    /* margin-left: 10px;
    margin-bottom: 5px; */
    margin: 0;
    font-size: 16px;
    padding-bottom: 5px;
}

.note:hover {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.4)
}

#note-content {
    /* height: 24vh; */
    width: 225px;
    overflow-y: hidden;
    margin-top: 5px;
}

.note-grid p {
    font-size: 14px;
    margin-top: 0;
    color: rgb(63, 63, 63)
}

#update-time {
    font-size: 10px;
    position: absolute;
    bottom: 5px;
}


#notes-container a {
    color: black;
}

#notes-container i:hover {
    /* color: blue; */
    background-color: rgb(220, 220, 220);
}

#notes-container i {
    padding: 5px;
    border-radius: 5px;
}