#homenav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 0px;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 10vw;
}

#left {
    display: flex;
    align-items: center;
    max-width: 50vw;
}

#home-links {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

#home-link {
    color: black;
}

#home-link:hover {
    color: blue;
}



nav {
    background-color: blue;
}

#left-navbar {
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

#left-navbar a {
    box-sizing: border-box;
}

#new-button {
    display: flex;
    justify-content: center;
}

#new-note-btn {
    border-radius: 20px;
    width: 85%;
    height: 40px;
    margin: 10px 20px;
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
    background-color: rgb(0, 0, 210);
    color: white;
    border: none;
    display: flex;
    align-items: center;
}

#new-note-btn:hover {
    background-color: rgb(0, 80, 150);
    cursor: pointer;
}

#new-note-btn:active {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.4);
}

.fa-plus {
    margin-right: 10px;
    font-size: 14px;
}

#navbar-links {
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-top: 10px;
}

.navbar-link {
    display: flex;
    align-items: center;
    color: rgb(179, 179, 179);
    height: 35px;
    padding-left: 20px;
}

.navbar-link.active {
    color: white;
}

a.navbar-link:hover {
    cursor: pointer;
    background-color: rgb(123, 123, 123);
    color: rgb(45, 45, 45);
}

.dropdown-link a:hover {
    cursor: pointer;
    background-color: rgb(123, 123, 123);
    color: rgb(45, 45, 45);
}

.dropdown-link {
    margin: 3px 0;
    width: 100%;
    box-sizing: border-box;
}

.navbar-link > .fas {
    margin-right: 5px;
    display: inline-flex;
    width: 20px;
    justify-content: center;
}

#left-navbar a {
    font-size: 15px;
    font-weight: bold;
}

#user-header {
    display: flex;
    align-items: center;
    margin: 15px 0px 5px 15px;
    color: whitesmoke;
}

#user-info {
    display: flex;
    box-sizing: border-box;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px gray solid;
}

#logo {
    width: 50px;
    margin-left: 20px;
}



#home-title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    font-family: 'Crete Round', serif;
    color: black;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}



a {
    text-decoration: none;
}

.profile-dropdown a {
    color: white;
}

a:hover {
    color: blue;
}

#signup {
    border: blue solid 2px;
    color: blue;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
}

#signup:hover {
    border: rgb(0, 110, 255) solid 2px;
    color: rgb(0, 110, 255);
    cursor: pointer;
}

#profile-icon {
    font-size: 25px;
    position: relative;
    margin-right: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

#profile-icon:hover {
    cursor:pointer;
    background-color: rgb(80, 80, 80);
}

#profile-icon span {
    font-size: 14px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-overflow: ellipsis;
}

.profile-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0;
    top: 35px;
    left: 15px;
    background-color: white;
    border-radius: 5px;
    z-index: 10;
    overflow: show;
}

.profile-dropdown li {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-size: 12px;
    /* padding-left: 10px; */
}

.profile-dropdown li:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 10px;
}

.profile-dropdown i {
    margin-right: 10px;
    font-size: 36px;
}

.profile-dropdown li:nth-child(-n+2) {
    color: rgba(38, 38, 38, 0.9);
    font-weight: bold;
}

.profile-dropdown span {
    font-size: 15px;
    margin: 0;
}

#email {
    font-size: 12px;
    margin: 0;
}

.profile-dropdown button {
    padding: 0 0 0 10px;
    background-color: white;
    border: none;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    text-align: left;
    font-size: 15px;
    color: black;
    height: 25px;
}

.profile-dropdown button:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

#right li {
    margin: 15px;
}