#notebook-content {
    display: grid;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    grid-template-columns: 40% 1fr;
}

#notebook-sidebar {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
}

#notebook-header {
    padding: 0px 0px 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#sidebar-header {
    min-height: 90px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    position: relative;
}

#sidebar-header .fa-ellipsis-h {
    color: gray;
    position: absolute;
    bottom: -3px;
    right: 5px;
}

#sidebar-header p {
    font-size: 14px;
    color:rgb(100, 100, 100);
    margin: 0;
}

#notebook-buttons {
    position: absolute;
    right: 10px;
}

#notebook-actions-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 10px 0 0;
}

#sidebar-header button {
    border: none;
    border-radius: 5px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#sidebar-header h2 {
    text-align: left;
    font-size: 18px;
    max-height: content;
    display: inline-flex;
    align-items: center;
    margin: 0 0 13px 0;
}

#sidebar-header h2 .fas {
    margin-right: 10px;
}

#notebook-buttons .fas:hover {
    cursor:pointer;
}

#edit-notebook-link {
    margin: 0;
    display: inline-flex;

}
.notebook-block:active{
    background-color: white;
}

.notebook-block:hover {
    background-color: rgb(157, 157, 157);
    color: black;
    cursor:pointer;
}

.notebook-block:hover > #notebook-block-content,
.notebook-block:hover > #notebook-update-time{
    color: black;
}

.selected > #notebook-block-content,
.selected > #notebook-update-time {
    color: rgb(230, 230, 230);
}

.notebook-block {
    box-sizing: border-box;
    height: 130px;
    overflow-y: hidden;
    border-bottom: 1px gray solid;
    display: grid;
    grid-template-rows: 22% 1fr 22%;
    padding: 10px 25px;
}

.notebook-block > h3 {
    font-size: 14px;
    margin: 0;
    text-align: left;
    display: flex;
    align-items: center;
}

#notebook-block-content {
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    color: rgb(138, 138, 138);
    overflow-y: hidden;
    text-overflow:ellipsis;
    display: flex;
    align-items: flex-start;
}

#notebook-update-time {
    color: rgb(138, 138, 138);
    margin: 0;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
}
